body{
    height:100vh;
}

html{
font-size:20px;

}

a{
color:white;
text-align:center;

}

.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

nav{
    grid-area:n;
    background-color:rgb(67, 51, 87);
    
}

header{
    grid-area:h;
    background-color:rgb(27, 28, 42);
}

#aside{
    grid-area:a;
    background-color:rgb(138, 142, 209);
    color:white;
}

#main{
    grid-area:m;
    background-color:rgb(46, 49, 85);
    font
}

#bildbil{
    grid-area:c;
    background-color:rgb(108, 115, 191)

}

#footer{
    grid-area:f;
    background-color:rgb(55, 55, 55)

}

#container{
display:grid;
height:100%;
grid-template-columns: 50% 50%;
grid-template-rows: 30% 100% 100% 40%;

grid-template-areas: 

"n n"
"a h"
"m c"
"f f";

}

@media screen and (max-width:800px){

#container{
grid-template-columns:100%;
grid-template-rows: 30% 100% 100% 100% 100% 40%;

grid-template-areas:
"n"
"a"
"h"
"c"
"m"
"f";
}
}

.sprite {
    background-image: url(img/bilmedswimmingpool.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bilmedswimmingpool {
    width: 500px;
    height: 525px;
    background-position: -5px -5px;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -515px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -515px -45px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -515px -85px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -515px -125px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -515px -165px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -515px -205px;
}
