body{
    height:100vh;
}

nav{
    grid-area:n;
    background-color:rgb(67, 51, 87);
}

header{
    grid-area:h;
    background-color:rgb(27, 28, 42);
}

aside{
    grid-area:a;
    background-color:rgb(138, 142, 209)
}

main{
    grid-area:m;
    background-color:rgb(46, 49, 85);
}

#meow{
    grid-area:c;
    background-color:rgb(108, 115, 191)

}

footer{
    grid-area:f;
    background-color:rgb(55, 55, 55)

}

#container{
display:grid;
height:100%;
grid-template-columns: 50% 50%;
grid-template-rows: 30% 100% 100% 40%;

grid-template-areas: 

"n n"
"a h"
"m c"
"f f"

}

@media screen and (max width:800px){

#container{

grid-template-columns:100%;
grid-template-rows: 30% 100% 100% 100% 100% 40%;

grid-template-areas:
"n"
"a"
"h"
"c"
"m"
"f"


}
}